spring:
  datasource:
    url: jdbc:mysql://localhost:3306/kodewaladb30thjune
    username: root
    password: test
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
 sleuth:
    sampler:
      probability: 1.0
    propagation-keys:
      - b3
      - X-B3-TraceId
      - X-B3-SpanId
      - X-B3-ParentSpanId
      - X-B3-Sampled
      - X-B3-Flags

      feign:
  hystrix:
    enabled: true

management:
  tracing:
    sampling:
      probability: 1.0
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %5p [${spring.application.name},%X{traceId},%X{spanId}] %logger{36} - %msg%n"
